{% extends "Index.html"%}{% load static %}{%block content%}
<img src="{% static 'images/freezer.jpg' %}" style="width: 300px;height: 400px;">
<form action="{% url 'prof' %}" method="POST">
    <div class="form-group">
        {% csrf_token %}
    <label for="id_email">nombre</label><br>
        {{ form.nombre }}<br>
    <label for="id_email">Email</label><br>
        {{ form.email }}<br>
    <label for="id_email">Contraseña</label><br>
        {{ form.contraseña }}<br>
    <label for="id_email">Ciclo</label><br>
        {{ form.ciclo }}<br>
    <label for="id_email">DNI</label><br>
        {{ form.dni }}<br>
    </div>
      <input type="submit" class="btn btn-success btn-lg" value="Aceptar">
</form>
{%endblock%}