{% extends "Index.html"%}{%block content%}
<a href="{% url 'log' %}">Login</a>
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Ciclo</th>
            <th>DNI</th>
        </tr>
    </thead>
    <tbody>
        {%for item in profesores%}
        <tr>
        <td>
          {{item.nombre}}
        </td>
        <td>
            {{item.email}}
        </td>
        <td>
            {{item.ciclo}}
        </td>
        <td>
            {{item.dni}}
        </td>         
    </tr>
        {%endfor%}
    </tbody>

<a href="{% url 'prof' %}">Añadir Profesor</a>

{% if mensaje %}
    <h2>{{mensaje}}</h2>
{% endif %}

{%endblock%}